/.vscode
/server/database.db
/client/benchark.db
/server/databasebig.db
/server/tests/*
/server/obj/*
/server/bin/*
/server/users.csv
/server/products.csv
/server/orders.csv
*.sql
*/__pycache__/*
*.pyc
/server/wal.log
/.zed